/* Website color-pallet:
Primary: #1c1e6c;
Secondary: #21ceb9;; 

Font sizing: 10 12 14 16 18 20 22 24 26 28 30 32 34 36;



*/

html {
  font-family: "Rubik", "sans-serif";
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
